version: '3.9'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sales-api
    ports:
      - "7089:7089"
    depends_on:
      - mongo
      - postgres
      - rabbitmq
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__MongoDb=mongodb://mongo:27017
      - ConnectionStrings__Postgres=Host=postgres;Port=5432;Database=SalesSystem;Username=SA_User;Password=adm1234#
      - RabbitMQ__HostName=rabbitmq
    networks:
      - app-network

  mongo:
    image: mongo
    container_name: mongodb
    ports:
      - 27017:27017
    volumes:
      - ./mongo/data:/data/db
    networks:
      - app-network

  postgres:
    image: postgres
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: SA_User
      POSTGRES_PASSWORD: adm1234#
      POSTGRES_DB: SalesSystem
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - 5672:5672
      - 15672:15672
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    networks:
      - app-network

volumes:
  pgdata:

networks:
  app-network:
    driver: bridge
